@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');

:root {
  --background: #212129;
  --dark_1: #323949;
  --dark_2: #3d3e51;
  --light_1: #40445a;
  --light_2: #4c5265;
  --white: #FFFFFF;
}

body, html {
  background-color: var(--background);
  font-family: 'Raleway', sans-serif;
}